html {
  box-sizing: border-box;
  background-color: rgba(18, 172, 101, 1);
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 20px;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body * {
  margin: 0;
  padding: 0;
}

#form {
  width: 40%;
  margin: 2.5em auto;
  border-radius: 5px;
  box-shadow: .25em .25em .5em rgba(0, 0, 0, .3);
  justify-content: flex-start;
}

#item {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

#item input[type=checkbox] {
  margin: 1em;
}

#item input[type=checkbox]:checked + label {
    background-color: rgba(0, 0, 0, .05);
    text-decoration: line-through;
  }

#item label {
  flex: 1;
  padding: 1em;
  border-left: 1px solid rgba(0, 0, 0, .15);
}